@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scroll-behavior: smooth;
}

.slider {
  background-size: cover;
  background-repeat: no-repeat;
  height: 590px;
}

.containerSlide {
position: absolute;
width: 455px;
background: rgba(255, 255, 255, 0.8);
border-radius: 15px;
}

.bar {
position: relative;
top: 7px;

height: 3px;
width: 100%;
}

.emptybar {
background-color: transparent;
width: 100%;
height: 100%;
}

.filledbar {
position: absolute;
top: 0px;
z-index: 3;
width: 0px;
height: 100%;
background: #fb923c;
transition: 0.3s ease-out;
}

.link:hover .filledbar {
width: 100%;
transition: 0.3s ease-out;
}

.header-top__action-btn {
width: 38px;
height: 38px;
margin-right: 10px;
border: 1px solid #828282;
justify-content: center;
align-items: center;
border-radius: 10px;
cursor: pointer;
position: relative;
transition: all 0.3s ease;
}
.header-top__action-btn svg {
transform: translate(20%)
translateY(20%)
}
.header-top__action-btn:hover {
border: 1px solid #fb923c;
}
.header-top__action-btn:hover svg {
color: #fb923c;

}

.call-button {
  position: relative;
  overflow: hidden;
  outline: none;
  background-color: #fb923c;
}

.default-btn, .hover-btn {
  background-color: #fb923c;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 7px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s ease;
}
 
 .hover-btn {
  position: absolute;
  inset: 0;
  background-color: #fb923c;
  transform: translate(0%,100%);
}

.call-button:hover .default-btn {
  transform: translate(0%,-100%);
}
 
.call-button:hover .hover-btn {
  transform: translate(0%,0%);
}

.category-img {
height: 350px;
}

.main-container {
background: url('https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVkc3xlbnwwfHwwfHx8MA%3D%3D');
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 450px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.company-box {
background: rgba(255, 255, 255, 0.8);
height: 70%;
width: 90%;
border-radius: 15px;
}

.svg-icon path {
fill: white;
}

.svg-icon:hover path {
fill: rgb(4, 4, 63);
}

.svg-icon .youtube {
fill: rgb(4, 4, 63);
}

.svg-icon:hover .youtube {
fill: white;
}

.z-index {
position: fixed;
z-index: 999;
margin-left: 92%;
margin-top: 400px;
}

.chart {
filter: grayscale(1) contrast(1.2) opacity(0.4);
}

.hamburgerMenu {
display: none;
flex-direction: column;
cursor: pointer;
}

.hamburgerLine {
width: 25px;
height: 3px;
background-color: #fff;
margin: 3px 0;
transition: transform 0.3s ease-in-out;
}

.open {
transform: rotate(45deg);
}
